body {
    background-color: #f8f9fa; /* Cor de fundo suave */
}

h1, h2 {
    color: #343a40; /* Cor do texto escuro */
}

#resultOutput {
    white-space: pre-wrap; /* Para manter a formatação */
}
